body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: rgb(238, 246, 255);
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .bottleCap {
    display: inline-block;
    margin: 5px;
    margin-top: 20px;
    width: 150px; /* Set width */
    height: 150px; /* Set height */
    transition: transform 0.3s; /* Smooth transition for scaling */
  }
  .bottleCap img {
    width: 100%; /* Make image fill the container */
    height: 100%; /* Make image fill the container */
    object-fit: cover; /* Ensure aspect ratio is maintained */
  }
  .bottleCap:hover {
    transform: scale(1.5); /* Scale up by 20% on hover */
  }

  .button-container {
    display: flex;
    justify-content: center; /* Align items horizontally in the center */
    margin-bottom: 20px;
  }
  
  .button-container button {
    margin-right: 10px; /* Adjust spacing between buttons */
  }
  